# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Database
*.db
*.sqlite3

# IDE
.idea/
.vscode/

# Environment variables
.env

# Logs
*.log

# Node (if used)
node_modules/
build/
package-lock.json

# OS files
.DS_Store
Thumbs.db